button {
    background-color: #6f42c1 !important;
    color: white !important;
    border: none !important;
}

button:hover {
    background-color: #9159e4 !important;
    color: white !important;
    border: none !important;
}